<header> 
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <strong>OAuth Client</strong>
      </a>
      <nav *ngIf="!isAuthenticated" class="my-2 my-md-0 mr-md-3">
         <a class="p-2 text-light" style="cursor: pointer;" (click)="login()">Login</a>     
      </nav>
      <nav *ngIf="isAuthenticated" class="my-2 my-md-0 mr-md-3">
         <a class="p-2 text-light" style="cursor: pointer;" (click)="topsecret()">Call API</a>  
         <a class="p-2 text-light" style="cursor: pointer;" (click)="signout()" href="#">Signout {{name}}</a>             
      </nav>
    </div>    
  </div>
</header>
